.inputs {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  box-sizing: border-box;
  height: 5vh;
  margin: 5px;
  width: 55%;
}

.label {
  padding-left: 400px;
  padding-bottom: -10px;
}

.section {
  padding-left: 400px;
}

.pa {
  color:blueviolet;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 400px;
  padding-top: 80px;  
}