body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background: url(./image/login.png);
  background-size: cover;  
}

/* body {
  background-size:cover;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.onboarding {
  color: rgb(158, 14, 86)
}

.album-card {
  width: 300px;
  height: 400px;
  padding: 0px;
  margin-top: 125px;
  margin-left: 70%;
  margin-bottom: 25px;
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  background-color: black;
  color: white;
}

.album-image {
  width: 200px;
  border-radius: 10px 10px 0px 0px;
}

.artist-name {
  font-size: 14px;
  font-style: italic;
}

.page-album {
  display: flex;
}